{{/*
    styles for calendar pages
    including fullcalander support: https://github.com/fullcalendar/fullcalendar.
    dict parameters:
    - grid=true to load calendar grid
    - list=true to load calendar list
*/}}
<!-- -->
<link rel="stylesheet" type="text/css" href="/css/cal/main.css">

<link rel="stylesheet" type="text/css" href="/js/libs/fullcalendar/core/main.min.css"/>
{{- if .grid }}
<link rel="stylesheet" type="text/css" href="/js/libs/fullcalendar/daygrid/main.min.css">
<link rel="stylesheet" type="text/css" href="/js/libs/fullcalendar/timegrid/main.min.css">
{{ end }}
{{- if .list }}
<link rel="stylesheet" type="text/css" href="/js/libs/fullcalendar/list/main.min.css"/>
{{ end }}

{{/*
    load the scripts:
    previously, these were declared in the body of the individual pages.
    that allowed (some) of the page to be visible before kicking off loading.
    defer can do similar, loading in parallel, waiting until the page content is available before execution.
*/}}
<script defer src="/js/libs/fullcalendar/core/main.min.js" type="text/javascript"></script>
{{- if .grid }}
<script defer src="/js/libs/fullcalendar/daygrid/main.min.js" type="text/javascript"></script>
<script defer src="/js/libs/fullcalendar/timegrid/main.min.js" type="text/javascript"></script>
{{ end }}
{{- if .list }}
<script defer src="/js/libs/fullcalendar/list/main.min.js" type="text/javascript"></script>
{{ end }}

